.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  padding: 0 4rem;
  min-height: 100dvh;
}
.header {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .main {
    padding: 0 1rem;
  }
}
