.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navLinks {
  display: flex;
  list-style: none;
}

.navLinks li {
  padding: 1rem 0;
}
.navLinks li p{
    font-size: 14px;
}
.container_hamburguer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    position: absolute;
    left: 0;
    top: -10px;
}
.hamburger {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
  }

  .navLinks.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
